---
import { portfolioData } from "../data/portfolio.js";
import GithubIcon from "./icons/GithubIcon.astro";
import ExternalLinkIcon from "./icons/ExternalLinkIcon.astro";
---

<section id="projects" class="section container">
  <h2 class="section-title">Some Things I've Built</h2>

  <div class="flex flex-col gap-8 md:gap-16">
    {
      portfolioData.projects.map((project) => (
        <div class="relative grid grid-cols-12 items-center">
          <div class="col-span-12 text-left bg-gray-900/40 p-3 md:p-10 lg:p-14 rounded-xl border border-white/5 backdrop-blur-md transition-all duration-300 hover:-translate-y-1 hover:bg-gray-900/60 hover:shadow-[0_20px_40px_rgba(0,0,0,0.4)]">
            <p class="my-2.5 text-indigo-500 font-mono text-sm font-normal">
              Featured Project
            </p>
            <h3 class="text-slate-200 text-[clamp(24px,5vw,28px)] font-bold m-0 mb-5">
              <a
                href={project.link}
                class="text-inherit no-underline hover:text-indigo-500"
              >
                {project.title}
              </a>
            </h3>
            <div class="shadow-[0_10px_30px_-15px_rgba(2,12,27,0.7)] text-gray-400 text-base leading-relaxed mb-5">
              <p>{project.description}</p>
            </div>
            <ul class="flex flex-wrap relative z-10 m-0 mt-6 mb-2.5 p-0 list-none gap-[15px]">
              {project.tech.map((tech) => (
                <li class="font-mono text-[0.85rem] text-gray-400 whitespace-nowrap">
                  {tech}
                </li>
              ))}
            </ul>
            <div class="flex items-center relative mt-2.5 text-slate-200 gap-[15px]">
              <a
                href={project.githubLink}
                target="_blank"
                aria-label="GitHub Link"
                class="flex justify-center items-center hover:text-indigo-500"
              >
                <GithubIcon />
              </a>
              <a
                href={project.liveLink}
                target="_blank"
                aria-label="External Link"
                class="flex justify-center items-center hover:text-indigo-500"
              >
                <ExternalLinkIcon />
              </a>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</section>
